# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nestdb"

# BetterAuth — générer avec : openssl rand -hex 32
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3003"

# Google OAuth — https://console.cloud.google.com
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GitHub OAuth — https://github.com/settings/developers
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
